In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
## Load the penguins dataset and drop instances with missing values
penguins = pd.read_csv('penguins.csv').dropna()

# Display first five rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [3]:
# Define input and output features
X = penguins[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]
y = penguins[['species']]

In [4]:
# Initialize a model with k=5 neighbors
knn = KNeighborsClassifier(n_neighbors=5)

# Fit the model
knn.fit(X, np.ravel(y))

# Calculate the predictions for each instance in X
knn.predict(X)

# Calculate the proportion of instances correctly classified
knn.score(X, np.ravel(y))

0.8378378378378378

In [5]:
# Standardize features in X and re-fit the model

# Scale the input features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Convert scaled inputs back to a dataframe
X_scaled = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)

# Re-fit the model using X_scaled
knn.fit(X_scaled, np.ravel(y))

# Calculate the predictions for each instance in X
knn.predict(X_scaled)

# Calculate the proportion of instances correctly classified
knn.score(X_scaled, np.ravel(y))

0.990990990990991